/*GENERAL*/
* {
  border: none;
  border-radius: 0;
  font-family: RobotoMono Nerd Font;
  font-size: 18px;
  min-height: 0;
}
/****************/
/* MODULES LEFT */
/****************/
window#waybar {
  background: #ffffff;
}

#workspaces button {
  padding-left: 8px;
  padding-right: 8px;
  color: #999999;
}

#workspaces button.focused {
  color: #007db7;
}

#workspaces button.urgent {
  background-color: #ff0000;
}

#workspaces button:hover {
  background-color: #333333;
}

#mode #window {
  padding-left: 6px;
  padding-right: 0px;
}

/*****************/
/*MODULES MIDDLE*/
/*****************/
#custom-media {
  color: #b8860b;
}

/*****************/
/* MODULES RIGHT */
/*****************/
#clock {
  padding-left: 15px;
  padding-right: 8px;
}

#disk,
#cpu,
#memory,
#temperature,
#pulseaudio,
#network,
#backlight,
#battery,
#custom-calendar,
#tray {
  padding-left: 15px;
  padding-right: 10px;
}

#temperature.critical {
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*BATTERY*/
#battery {
  background-color: #ffffff;
  color: #000000;
}

#battery.charging {
  animation-name: charge;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#battery.critical:not(.charging) {
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*ANIMATIONS*/
@keyframes blink {
  to {
    color: #ff0000;
  }
}

@keyframes charge {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: #66ffa6;
  }
  100% {
    background-color: #ffffff;
  }
}
